<section class="wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
</section>

<div class="main">
    <header class="header">
        <div class="logo">
            <span class="logo-span">QREasy</span>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="#">Contact With Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-landing">
        <section class="landing-section">
            <span class="welcome-landing">Welcome the QREasy</span>
            @Html.ActionLink("Let's Start", "Index", "CreateQr", null, new {@class = "button button-landing text-center"})
            <span class="rights">All rights reserved</span>
        </section>
    </div>
</div>